strike {
    color: rgba(0, 0, 0, 0.55);
}

h3 {
    margin-bottom: 50px !important;
}

img.no-border,
.no-border img {
    border: 0 !important;
    box-shadow: none !important;
    background: none !important;
}

.me {
    margin: 0 !important;
    text-align: center !important;
}

.me li {
    list-style-type: none;
    text-align: left;
}

.me li a {
    margin-left: 15px;
}

.reveal i {
    font-family: 'FontAwesome' !important;
    font-style: normal !important;
 }
