h1.title {
    font-size: 2.8em!important;
}

strike {
    color:transparent!important;
}

h3 {
    margin-bottom: 50px !important;
}

.no-margin h3 {
    margin-bottom: 20px !important;
}

img.no-border,
.no-border img {
    border: 0 !important;
    box-shadow: none !important;
    background: none !important;
}

.me {
    margin: 0 !important;
    text-align: center !important;
}

.me li {
    list-style-type: none;
    text-align: left;
}

.me li a {
    margin-left: 15px;
}

.reveal i {
    font-family: 'FontAwesome' !important;
    font-style: normal !important;
 }
