[submodule "reveal.js"]
	path = reveal.js
    url = https://github.com/hakimel/reveal.js.git
[submodule "font-awesome"]
	path = font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "css/theme/mozilla"]
	path = css/theme/mozilla
	url = git@github.com:mozilla/Reveal-Mozilla-Theme.git
