@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Italic-webfont.eot");
  src: url("fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-Italic-webfont.woff") format("woff"),
       url("fonts/OpenSans-Italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Semibold-webfont.eot");
  src: url("fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-Semibold-webfont.woff") format("woff"),
       url("fonts/OpenSans-Semibold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"),
       url("fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Open Sans Light";
  src: url("fonts/OpenSans-Light-webfont.eot");
  src: url("fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-Light-webfont.woff") format("woff"),
       url("fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("fonts/OpenSans-LightItalic-webfont.eot");
  src: url("fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-LightItalic-webfont.woff") format("woff"),
       url("fonts/OpenSans-LightItalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


/**
 * Black theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #111111;
  background-image: url(img/bg-darkgrey-2.png);
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-color: #111111; }

body:after {
  position:absolute;
  top:0;
  right:10px;
  width:153px;
  height:41px;
  background:url(img/tab-2.png);
  content:'';
}

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #eeeeee; }

::selection {
  color: white;
  background: #e7ad52;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 .25em;
  line-height: 1;
  font-family: "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  color: #eeeeee;
  letter-spacing: -0.03em;
  text-transform: none;
}

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #e7ad52;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #f3d7ac;
  text-shadow: none;
  border: none; }
  
.reveal p{
	text-shadow:0 !important;
  font-family: "Open Sans Light";
	color:#fff;
}

.reveal .roll span:after {
  color: #fff;
  background: #d08a1d; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #e7ad52;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #e7ad52; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #e7ad52; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #e7ad52; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #e7ad52; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #f3d7ac; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #f3d7ac; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #f3d7ac; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #f3d7ac; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #e7ad52;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #e7ad52; }
